<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <meta name="description" content="" />

    <link
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>
  <body
    class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0"
    style="font-family: 'Poppins', sans-serif"
  >
    <header class="max-w-lg mx-auto">

        <h1 class="text-4xl font-semibold text-white text-center">Login</h1>

    </header>

    <main
      class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl"
      style="font-family: 'Noto Sans', sans-serif"
    >
      <section class="mt-10">
        <form class="flex flex-col" method="POST" action="#">
    <div class="mb-4 relative">
        <input class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600" id="email" type="text" autofocus>
        <label for="email" class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text">Email</label>
    </div>

          </div>
          <div class="mb-4 relative pb-8">
            <input class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600" id="password" type="password" autofocus>
            <label for="password" class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text">Password</label>
        </div>

          </div>

          <button
            class="
              bg-purple-700
              hover:bg-purple-800
              text-white
              font-semibold
              py-3
              rounded
              shadow-lg
              hover:shadow-xl
              transition
              duration-200
            "
            style="font-family: 'Poppins', sans-serif"
            type="submit"
          >
            Sign In
          </button>
        </form>
      </section>
    </main>

    <div class="max-w-lg mx-auto text-center mt-12 mb-6">
      <p class="text-white">
        Create an account
        <a href="{{url_for('register')}}" class="font-semibold hover:underline">Sign up</a>.
      </p>
    </div>
  </body>
</html>
